# Python files to ignore 
.env
.venv
env/
venv/
__pycache__/
*.py[cod]
PyFRep.egg-info/

# Emacs 
*~


# Polyscope 
.polyscope.ini
imgui.ini


# Data 
data/


# Temp result files
results/
